<footer>
    <div class="footer-contenido">

        <div class="footer-info">
            <img src="{{url_for('static', filename='img/logo sin fondo.wedp.png')}}" alt="logo">
            <p>Cuidamos tu salud visual con tecnología de calidad y la mejor atención</p>
        </div>

        <div class="footer-enlaces">
            <h3>ENLACES</h3>
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Productos</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </div>

        <div class="footer-sedes">
            <h3>SEDES</h3>
            <p>C.C. El Parque Local 113</p>
            <p>C.C. El Parque Local 139</p>
            <p>C.C. Mercurio Local 134</p>
            <p>Bosa Porvenir Local 110</p>
        </div>

        <div class="footer-contacto">
            <h3>CONTÁCTANOS</h3>
            <p>📞 (601) 123 4567</p>
            <p>📱 317 123 4567</p>
            <p>✉️ info@onevision.com.co</p>
        </div>

    </div>

    <section class="footer-abajo">
        <p>© 2024 Ópticas One Vision. Todos los derechos reservados.</p>

        <div class="footer-politicas">
            <a href="#">Política de privacidad</a>
            <span>|</span>
            <a href="#">Términos y condiciones</a>
        </div>
    </section>
</footer>