{%extends ("base.html")%}
{%block content%}

<!--seccion 1-->
<section>
    <div>
        <h1>PRODUCTOS</h1>
        <h3>Encuentra lo que necesitas para ver y lucir mejor.</h3>

        <div>
            <p>Monturas</p>
            <p>Gafas de Sol</p>
            <p>Lentes Oftálmicos</p>
            <p>Lentes de Contacto</p>
            <p>Accesorios y Cuidado</p>
        </div>
    </div>

    <div>
        <img src="" alt="imagen">
    </div>
</section>

<!--seccion 2 - monturas destacadas-->
<section>
    <h2>MONTURAS DESTACADAS</h2>

    <div>

        <div>
            <img src="" alt="producto1">
            <h4>Montura Clásica Negra</h4>
            <p>$239.900</p>
        </div>

        <div>
            <img src="img/m2.png">
            <h4>Montura Carey Redonda</h4>
            <p>$259.900</p>
        </div>

        <div>
            <img src="img/m3.png">
            <h4>Montura Transparente</h4>
            <p>$219.900</p>
        </div>

        <div>
            <img src="img/m4.png">
            <h4>Montura Azul Moderna</h4>
            <p>$249.900</p>
        </div>

        <div>
            <img src="img/m5.png">
            <h4>Montura Hexagonal</h4>
            <p>$239.900</p>
        </div>

        <div>
            <img src="img/m6.png">
            <h4>Montura Titanio Gris</h4>
            <p>$299.900</p>
        </div>

    </div>

</section>

<!--seccion 3 mas monturas -->
<section>
    <h2>MÁS MONTURAS</h2>
    <div>

        <div>
            <img src="img/m7.png">
            <h4>Montura Cuadrada Negra</h4>
            <p>$259.900</p>
        </div>

        <div>
            <img src="img/m8.png">
            <h4>Montura Café Claro</h4>
            <p>$239.900</p>
        </div>

        <div>
            <img src="img/m9.png">
            <h4>Montura Verde Oliva</h4>
            <p>$239.900</p>
        </div>

        <div>
            <img src="img/m10.png">
            <h4>Montura Dorada</h4>
            <p>$279.900</p>
        </div>

        <div>
            <img src="img/m11.png">
            <h4>Montura Rosa Translúcida</h4>
            <p>$239.900</p>
        </div>

        <div>
            <img src="img/m12.png">
            <h4>Montura Azul Marino</h4>
            <p>$259.900</p>
        </div>

    </div>
</section>

<!--seccion 4 gafas de sol destacadas -->
<section>
    <h2>GAFAS DE SOL DESTACADAS</h2>

    <div>

        <div>
            <img src="img/s1.png">
            <h4>Aviador Clásico</h4>
            <p>$249.900</p>
        </div>

        <div>
            <img src="img/s1.png">
            <h4>Wayfaror Clásico</h4>
            <p>$229.900</p>
        </div>

        <div>
            <img src="img/s1.png">
            <h4>Redondas Metal</h4>
            <p>$259.900</p>
        </div>

        <div>
            <img src="img/s1.png">
            <h4>Deportivas Polarizadas</h4>
            <p>$279.900</p>
        </div>

        <div>
            <img src="img/s1.png">
            <h4>Clubmaster Clásico</h4>
            <p>$239.900</p>
        </div>

        <div>
            <img src="img/s1.png">
            <h4>Oversize Negro</h4>
            <p>$259.900</p>
        </div>
    </div>
</section>

<!--seccion 5 Beneficios-->
<section>
    <div>
        <p>Productos 100% originales de las mejores marcas.</p>
    </div>

    <div>
        <p>Garantía y respaldo en todos los productos.</p>
    </div>

    <div>
        <p>Envíos rápidos a todo Colombia.</p>
    </div>

</section>

{%endblock%}